@import "../../_global.scss";

.cookie-banner {
  position: fixed;
  font-family: $primary-font;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--list-color);
  color: var(--secondary-color);
  padding: 15px;
  display: flex !important;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  z-index: 10000;
  .cookie-banner-text {
    flex: 1;
    font-size: 16px;
  }
  .cookie-banner-button,
  .cookie-banner-button-one {
    background-color: var(--green-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  .cookie-banner-button-one {
    background-color: var(--green-color);
  }
}
