@import "../../_global.scss";

.car-card {
  width: 317px;
  // height: 388px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white-color);
  font-family: $primary-font;
}
.car-card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.car-card-header-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.car-image {
  width: 272px;
  height: 120px;
  margin-bottom: 10px;
  object-fit: contain;
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
.car-details {
  padding: 10px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-size: 14px;
  font-weight: 500;
  color: var(--popular-car-color);
}
.detail-item {
  display: flex;
  gap: 8px;
  align-items: center;
}
.car-card-header h2 {
  font-size: 20px;
  font-weight: 700;
}
.car-card-header p {
  font-size: 14px;
  font-weight: 700;
  color: var(--popular-car-color);
}
.car-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
